<mat-nav-list class="main">
    <div class="logo py-4">
      <img src="./assets/fashionverse.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/my-wardrobe">
      <img class="icon" src="./assets/wardrobe.png" alt="Wardrobe" /> My Wardrobe
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/marketplace">
      <img class="icon" src="./assets/marketplace.png" alt="Marketplace" /> Marketplace
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/trending">
      <img class="icon" src="./assets/trending.png" alt="Trending" /> Trending
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/qr-code">
      <img class="icon" src="./assets/qr.png" alt="Trending" /> Scan QR code
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/explore">
      <img class="icon" src="./assets/explore.png" alt="Trending" /> Explore
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/list-collection">
      <mat-icon>dashboard</mat-icon> List your collection
    </a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="display: flex; justify-content: space-between; background-color: #E9EAF1">
      
      <p style="bottom: 0;">Dark</p>
      <mat-icon>radio_button_unchecked</mat-icon>
    </div>
    <div style="display: flex; justify-content: space-between; background-color: #F4F4F8">
      <p style="bottom: 0;">Version</p>
      <p style="bottom: 0;">1.0.0</p>
    </div>
    <!--WTFFFFF hahahah i need to go to sleep-->
</mat-nav-list>
